<% @page_title = "TOPページ" %>
<div class="contents clearfix">
  <section class="article">
    <article class="topics">
      <h2>達成状況</h2>
      <p><%= 'hoge' %> km / 40000 km</p>
      <div>ここに世界地図か何かで進捗を見たい</div>
      <h2>今月の進捗</h2>
      カレンダーか何かで。
    </article>
  </section>

</div>
