/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*@import "tables";
 @import "bootstrap-sprockets";
 @import "bootstrap";*/
 /*汎用色の定義*/
 $skyblue: #1097FF;
 $yellow: #FFBF00;
 $orange: #FF9200;
 $blue: #2525ff;
 $purple: #A176CC;
 $deep_purple: #663498;
 $table_body: #326E87; //tdの文字色
 $table_index: #1C5D79; //
 $border_color: #1C5D79; //罫線の色
 $header_bg: rgb(240, 240, 240); //見出し行の背景
 $header_text: #FF8C00; //見出し行の文字色
 $body_bg: #dfedf3; //データ行の背景
 html{
   font-family: Verdana,sans-serif; /*フォントの指定*/
   line-height: 1.5; /*行の高さを指定*/
   font-size: 62.5%; /*一般的なブラウザの文字サイズ16pxを元に10pxを指定。これにより1rem=10pxとなる。*/
   box-sizing: content-box;
   /*全般設定*/
   h1{
     font-size: 30px;
   }
   h2{
     font-size: 25px;
   }
   h3{
     font-size: 20px;
   }
   a{
     text-decoration: none;
   }
   .red{
    color: red;
   }
   .orange{
    color: #FF6600;
   }
   body{
     background-color: white;
     font-size: 1.2rem;
     margin: 0 auto 30px;
     .clearfix::after { /*float使う要素の親階層に指定*/
       content: '';
       display: block;
       clear: both;
     }
     .hidden{ /*表示させない要素*/
      display: none;
     }
     /*ヘッダー*/
     header{
       width: 100%;
       margin: 0 auto;
       padding: 0;
       background-color: $skyblue;
       /*ロゴ部分*/
       #menu_logo{
         width: 960px;
         margin: 0 auto;
         padding: 0;
         .logo{
           /*ロゴの大きさを指定*/
           width: 30%;
           height: 100px;
           margin: 0 auto;
           background: url(image-path("logo.png"));
           overflow: hidden;
           text-indent: 100%;
           white-space: nowrap;
           float: left;
           a{ /*ロゴ部分のリンクを指定*/
             display: block;
             width: 100%;
             height: 100%;
           }
         }
         #dropmenu{ /*全体の枠を指定*/
           float: right;
           list-style-type: none; /*リストのマーカーを無しに指定*/
           width: 70%; /*幅*/
           max-width: 70%; /*幅の上限*/
           height: 100px; /*高さ*/
           margin: 0 auto; /*境界外側からの余白*/
           padding: 40px 0 0; /*境界内側からの余白*/
           background: $skyblue; /*枠内部の色*/
           border-bottom: 5px solid $blue; /*下側の枠線の太さと色*/
           border-radius: 3px 3px 0 0; /*角の丸み。左上・右上・右下・左下の順で指定*/
           box-sizing: border-box;
           li{ /*メニューバーの項目*/
             position: relative;
             width: 33.21%; /*3分割*/
             float: left; /*左側から詰める*/
             margin: 0; /*境界外側からの余白*/
             padding: 0; /*境界内側からの余白*/
             text-align: center; /*テキストは枠の中央揃え*/
             border-right: 0.5px solid #93D0FF;
             border-top: 0.5px solid #93D0FF;
             &:first-child{
               border-left: 0.5px solid #93D0FF;
             }
             a{ /*リンクをブロック化する奴。多分。*/
               display: block; /*ブロックボックスの生成*/
               height: 60px;
               margin: 0; /*境界外側からの余白*/
               color: #fff; /*ボックスの色*/
               font-size: 1.5rem; /*リンク文字のフォントサイズ*/
               font-weight: bold; /*フォントの太さ*/
               line-height: 60px; /*行の高さ*/
               text-decoration: none; /*文字装飾。*/
             }
             &:hover{
               & > a{ /*マウスが乗った時のブロックの変化*/
                 background: $blue; /*ブロックの色*/
                 color: $yellow; /*文字色*/
               }
               ul{
                 li{ /*親メニューにマウスオーバーした時の子メニュー*/
                   overflow: visible; /*見えるようになる*/
                   height: 38px; /*高さ*/
                   border-top: 0.5px solid #93D0FF; /*上ボーダーの設定。太さ・線種類(solid=一本線)・色*/
                   border-bottom: 0.5px solid #93D0FF; /*上ボーダーの設定。太さ・線種類(solid=一本線)・色*/
                   border-right: 0;
                   z-index: 1;/*小メニューが記事の下に潜り込まないように設定。*/
                   box-sizing: content-box;
                   a{
                     box-sizing: content-box;
                   }
                 }
               }
             }
             ul{ /*サブメニュー全体の設定*/
               list-style: none; /*マーカーの指定*/
               position: absolute; /*絶対位置での配置*/
               top: 100%; /*サブメニューボックスの高さ。親メニュー１つ分(100%)*/
               left: 0; /*自動指定*/
               margin: 0;
               padding: 0;
               border-radius: 0 0 3px 3px; /*角の丸み*/
               li{ /*子階層の通常時の設定*/
                 border-top: 0; /*上側のボーダーを消す。*/
                 overflow: hidden; /*全体の枠からはみ出す部分は隠す*/
                 width: 100%; /*親階層の幅と合わせる*/
                 height: 0; /*そもそも表示させない*/
                 color: #fff; /*子階層の色*/
                 /*時間変化の記述。0.2秒で変化させる。*/
                 -moz-transition: .2s; /*Firefox*/
                 -webkit-transition: .2s; /*chrome,safari向け*/
                 -o-transition: .2s; /*Opera*/
                 -ms-transition: .2s; /*IE*/
                 transition: .2s; /*その他*/
                 box-sizing: content-box;
                 &:first-child{ /*親メニューにマウスオーバーした時の子メニューのうち、一番上。*/
                   border-top: 0; /*上側のボーダーを消す。*/
                 }
                 &:last-child{ /*親メニューにマウスオーバーした時の子メニューのうち、一番下。*/
                   border-bottom: 0; /*下側のボーダーを消す。*/
                   a{ /*親メニューにマウスオーバーした時の子メニューのうち、一番下のリンクボックス*/
                     border-radius: 0 0 3px 3px; /*角の丸み。*/
                   }
                 }
                 a{ /*子メニューのリンク文字*/
                   padding: 4px 4px; /*境界内側からの余白*/
                   height: 31px;
                   line-height: 31px;
                   background: $skyblue; /*背景色*/
                   font-size: 12px; /*文字の大きさ*/
                   font-weight: normal; /*文字の太さ*/
                 }
               }
             }
             &:last-child{
               ul{ /*一番右のサブメニューの設定*/
                 left: 0%; /*左端を親階層と合わせる*/
                 width: 0%; /*サブメニューの幅を親階層と合わせる*/
               }
             }
           }
           & > li{
             &:hover{
               & > a{ /*マウスが乗った時のブロックの変化。属性の前に">"がつくことで子階層のみに影響(孫階層以下には影響しない)*/
                 border-radius: 3px 3px 0 0; /*角の丸み。*/
               }
             }
           }
         }
       }
     }
     /*コンテンツ*/
     main{
       width: 960px;
       margin: 10px auto 30px;
       .contents{ /*メイン文章エリア*/
         width: 960px;
         margin: 30px auto 30px;
         .heading{
           display: block;
           background: url(#);
           color: $skyblue;
           padding: 10px 12px;
           letter-spacing: 1px;
           font-size: 1.6rem;
           text-align: center;
         }
         .article{
           width: 74%;
           display: block;
           float: left;
           border: none;
           height: auto;
           box-sizing: border-box;
           table{
             width: 100%;
             padding: 3px 10px;
             font-size: 1.2rem;
             color: $table_body;
             border-collapse: collapse;
             border: 2px solid #111;
             margin: 10px 0;
             text-align: center;
             thead{
               tr{
                 height: 32px;
                 th{
                   background-color: $header_bg;
                   background-repeat: repeat-x;
                   border-collapse: collapse;
                   border-left: 1px solid $border_color;
                   border-right: 1px solid $border_color;
                   border-bottom: 3px double #111;
                   color: $header_text;
                   height: 32px;
                   line-height: 32px;
                   text-align: center;
                 }
                 td{
                   border: 1px solid #111;
                   color: $header_text;
                   background-color: $header_bg;
                   border-bottom: 3px double #111;
                 }
               }
             }
             tbody{
               tr{
                 background-color: $body_bg;
                 border: 1px solid #111;
                 th{
                   text-align: center;
                 }
                 td{
                   border: 1px solid #111;
                 }
               }
             }
             caption{
               text-align: left;
               font-size: 1.6rem;
               border-bottom: 2px dashed #111;
               margin-bottom: 15px;
               padding-left: 10px;
             }
           }
         }
         .sidemenu{ /*サイドメニュー*/
           float: right;
           width: 24%;
           margin-top: 50px;
           box-sizing: border-box;
           .login_form{
             border: 1px solid #111;
             padding: 5px;
           }
           .member_menu{
             border: 1px solid #111;
             padding: 5px;
           }
           .heading{
             display: block;
             color: $skyblue;
             padding: 5px 12px;
             letter-spacing: 1px;
             font-size: 1.6rem;
             text-align: center;
           }
         }
         time{
           text-align: right;
         }
         img{
           max-width: 960px;
         }
         .date-select{
           display: inline-block;
           width: auto;
         }
         form{
           margin: 10px 0;
           .check_box-big{
             height: 30px;
             margin: 4px 10px 0 10px;
             box-sizing: border-box;
           }
         }
         .pagination{
           display: block;
           font-size: 1.6rem;
           .current{
             font-style: normal;
             font-weight: 600;
           }
         }
         #notice{
           font-size: 1.5rem;
           border: 5px solid #C57124;
           background-color: #FFB797;
           padding: 5px;
           margin: 5px 0;
         }
         #error_explanation{
           font-size: 1.5rem;
           border: 5px solid #B20810;
           background-color: #FBBABD;
           padding: 5px 10px;
           margin: 5px 0;
           h2{
             margin-top: 5px;
           }
         }
       }
     }
     footer{ /*フッターの設定*/
       margin: 0 auto;
       width: 100%;
       color: #fff;
       text-align: center;
       padding: 10px 0 10px;
       background-color: $purple;
       li{
         list-style: none;
       }
     }
   }
 }
